* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    75deg,
    #ede7f3 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  font-family: "Poppins", sans-serif;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  min-width: 40vw;
  flex-direction: column;
  justify-content: space-between;
}
.app-wrapper {
  border-radius: 1em;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
}

header {
  font-size: 1rem;
  color: #2c1138;
  padding: 1.5rem 2rem 0.2rem 2rem;
}

header,
form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  flex-direction: initial;
  padding: 0rem 2rem 0rem 2rem;
  min-height: 3rem;
}

form input,
form button {
  font-size: 1rem;
  border: none;
  padding-left: 0.5rem;
}

form input {
  border-bottom: 0.1rem solid #d3bafa;
  min-width: 95%;
}

form button {
  color: #d3bafa;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.5rem;
}

form button:hover {
  transform: scale(1.5);
}

::placeholder {
  color: #8a9ca5;
  opacity: 0.5;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 100%;
  list-style: none;
  padding: 1.5rem 2rem;
}

.todo {
  margin: 0.5rem 0rem 0.5rem 0rem;
  color: #2c1138;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #d3bafa;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.todo-item {
  color: #2c1138;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.task-tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 6rem;
}
.task-count {
  color: #8a9ca5;
  font-size: 14px;
}
.task-filter {
  border: 0;
  display: flex;
  gap: 1.5rem;
  background: 0;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  font-family: var(--font);
  color: #8a9ca5;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.task-filter.is-active {
  background-color: #d3bafa;
  color: #fff;
  padding: 0rem 0.5rem;
}

.dateSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #d3bafa;
  font-size: 1rem;
}
.dateSection .day {
  flex: 0;
  font-size: 3rem;
}
.dateSection .center {
  flex: 1;
  padding-left: 0.5rem;
}
.dateSection .center .month {
  font-weight: 700;
  text-transform: uppercase;
}
.dateSection .weekday {
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-coder {
  font-weight: 400;
  color: #2c1138;
  font-size: 0.5rem;
  text-align: center;
  padding-top: 1.5rem;
}

.footer-coder a {
  text-decoration: none;
  color: #d3bafa;
}
.footer-coder a:hover {
  text-decoration: underline;
}
